<!DOCTYPE html>
<html>
<head><title>Image Test</title></head>
<body>
<h1>Testing Images</h1>
<img src="/static/images/espresso.jpg" width="200"><p>espresso.jpg</p>
<img src="/static/images/latte.jpg" width="200"><p>latte.jpg</p>
<img src="/static/images/cappuccino.jpg" width="200"><p>cappuccino.jpg</p>
<img src="/static/images/mocha.jpg" width="200"><p>mocha.jpg</p>
<img src="/static/images/caramel.jpg" width="200"><p>caramel.jpg</p>
<img src="/static/images/coldbrew.jpg" width="200"><p>coldbrew.jpg</p>
</body>
</html>
